<main class="container">
  <div class="row justify-content-center">
    <section class="mt-5">
      <div class="container">
        <div>
          <% if (pair) { %>
          <div class="text-center">
            <button type="submit" class="btn btn-lg btn-index">
              <a class="link-wishes" href="<%=pair.link %>">My Final Wishes</a>
            </button>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </div>
</main>
