<%- include('partials/header') -%>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex justify-content-center align-items-center bkg-fade p-3 rounded">
    <div>
      <form action="/file/getClient" enctype="multipart/form-data" method="GET">
        <div class="mb-3">
          <label for="code" class="form-label d-flex justify-content-center text-center bkg-mid switch">Code</label>
          <input type="text" class="form-control-lg bkg-light" id="code" name="code">
        </div>
        <div class="mb-3">
          <label for="word" class="form-label d-flex justify-content-center bkg-mid switch">Word</label>
          <input type="text" class="form-control-lg bkg-light" id="word" name="word">
        </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn form-control-lg form-label d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#linkModal">Submit</button>
      </form>
    </div>
  </div>

  <!-- Google Folder Link Modal -->
  <div class="modal fade-in" id="linkModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">My Final Wishes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <%- include("modals/client") -%>
        </div>
      </div>
    </div>
  </div>    
</div>
<%- include('partials/footer') -%>