<%- include('partials/header') -%>

<section class="d-flex justify-content-center align-items-center large">
  <div class="div section">
    <a href="/auth/google" class="btn btn-index hidden">
      <i class="fab fa-google left"></i>
      Log In With Google
    </a>
  </div>
</section>

<%- include('partials/footer') -%>
