* {
  font-family: "Lora", serif;
}

body {
  padding-bottom: 70px;
  overflow-x: hidden;
}

.bkg {
  background-color: #b77f45;
}

#regen-earth {
  color: #72744f;
  font-weight: bold;
}

#navbottom {
  background-color: #b77f45;
}

.btn {
  color: #72744f;
  background-color: #cac496;
  font-weight: bold;
}

.link-info {
  color: #b77f45;
  font-weight: bold;
}

.link-info:hover {
  color: #dbc0a3;
}

.fnt-wht {
  color: white;
}
