* {
  font-family: "Lora", serif;
}

body {
  padding-bottom: 70px;
  overflow-x: hidden;
  background: url("../imgs/regen-bkg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bkg {
  background-color: #72744f;
}

.bkg-light {
  background-color: #e7e6de;
}

.bkg-img {
  background: url("../imgs/regen-bkg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#regen-earth {
  color: #e7e6de;
  font-weight: bold;
}

#navbottom {
  background-color: #72744f;
}

.btn {
  color: #72744f;
  background-color: #e7e6de;
  font-weight: bold;
}

.btn-index {
  color: #e7e6de;
  background-color: #72744f;
}

.link-info {
  color: #72744f;
  font-weight: bold;
}

.link-info:hover {
  color: #babaa8;
}

.link-wishes,
.link-wishes:hover {
  color: #babaa8;
}

.fnt-wht {
  color: white;
}

.accordion-header,
.accordion-item {
  background: rgba(231, 230, 222, 0.5);
}
